@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --color-1: #12260F;
    --color-2: #ffffff;
    --color-3: #000000;
    --color-4: #FCC40F;
    --font-family: "Figtree", sans-serif;
}

html {
    font-size: 20px;
}

.th-btn {
    font-family: var(--font-family);
    font-size: 1rem;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    color: var(--color-2);
    padding: 10px 20px;
    border: 1px solid var(--color-2);
    text-decoration: none;
    border-radius: 50px;
    display: inline-block;
    transition: .5s;
}

.th-btn.yellow {
    background-color: var(--color-4);
    color: var(--color-1);
    border: 1px solid var(--color-4);
}

.th-btn.yellow:hover {
    border: 1px solid var(--color-4);
    background-color: var(--color-4);
}

.th-btn:hover {
    background-color: var(--color-2);
    color: var(--color-1);
    transform: scale(1.05);
}

h1 {
    font-family: var(--font-family);
    font-size: clamp(1.5rem, 5vw, 5rem);
    font-weight: 400;
    text-align: center;
}
h2{
font-family: var(--font-family);
font-size: clamp(1rem, 2vw, 2.4rem);
font-weight: 400;
}

p {
    font-family: var(--font-family);
    font-size: clamp(0.8rem, 2vw, 1rem);
    font-weight: 400;
    letter-spacing: -0.004em;
    text-align: center;
}

/* Header Strat ============ */
.navbar {
    background-color: var(--color-1) !important;
    padding: 20px 0px;
}

.navbar-brand {
    max-width: 80px;
}

.nav-link {
    font-family: var(--font-family);
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 1.2rem;
    letter-spacing: -0.004em;
    text-align: center;
    color: var(--color-2);

}

.nav-link:hover {
    color: var(--color-2);
}

/* ============ Header End */
/* Hero Strat ============ */
.hero {
    background-color: var(--color-1);
    padding-top: 200px;
    padding-bottom: 350px;
    position: relative;
}
.hero::before{
content: " ";
width: 100%;
height: 100px;
position: absolute;
bottom: 0px;
left: 0px;
z-index: 10;
background: linear-gradient(to top, #12260F 27.34%, rgba(2, 34, 27, 0) 98.49%);

}

.floting-img #hero-img-1 {
    max-width: 14rem;
    position: absolute;
    top: 8.5rem;
    left: 0;
}

.floting-img #hero-img-2 {
    max-width: 14rem;
    position: absolute;
    top: 8.5rem;
    right: 0;
}

.floting-img #hero-img-3 {
    max-width: 24rem;
    position: absolute;
    bottom: 0px;
    left: 10rem;
}

.floting-img #hero-img-4 {
    max-width: 16rem;
    position: absolute;
    bottom: 0px;
    right: 15rem;
}

.hero h1 {
    color: var(--color-2);
}

.hero p {
    color: var(--color-2);
}

/* ============ Hero End */